body {padding-top:0;}
.socialaccount_providers {
    list-style: none;
}

.socialaccount_provider {
    margin-left: 50px;
    padding: 8px;
}

.twitter {

}

.linkedin {
}

h1, h2, h3, h4, h5{
    font-family: 'Righteous', cursive;
}

footer{
    background-image:url('../img/footer.png');
    background-repeat:no-repeat;
}