{% extends "base.html" %}
{% load account %}
{% load bootstrap %}
{% load i18n %}
{% block title %}Edit {{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>

{% if form.errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
        Please correct the errors below.
    </div>
{% endif %}

<form id="new_idea" method="post" action="{{ post_to }}">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    </div>
</form>

{% endblock content %}
