{% extends "base.html" %}
{% load account %}
{% load markup %}
{% load comments %}

{% block content %}
    <h1 id="title">{{ item.title }}</h1>
    <p id="summary">
        Suggested by <a href="/user/{{ item.created_by.username }}" id="creator"> {{ item.created_by.username }}</a> on <span id="created_on">{{ item.created_on|date:"D d M Y" }}</span>.</p>
    {% if user.is_authenticated %}
        <a href="/idea/foo/edit" class="btn btn-primary">Edit</a>
    {% endif %}

    <hr/>

    <div id="summary" class="lead">
        {{ item.summary|markdown }}
    </div>

    <h2>How it was used</h2>
    <div id="usecase">
        {{ item.how_used|markdown }}
    </div>

    <h2>Benefits and evidence</h2>
    <div id="benefits">
        {{ item.benefits|markdown }}
    </div>

    <h2>Further Information</h2>
    <div id="further-info">
        {{ item.further_information|markdown }}
    </div>
    <hr/>
    Tagged with:
    {% for tag in tags %}
        <i class="icon-tag"></i><a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}

    <div class="comments">
        <h3>Comments and issues</h3>
        {% get_comment_form for item as form %}
        <table>
          <form action="{% comment_form_target %}" method="post">
            <input type="hidden" name="next" value="{% url 'idea' item.slug %}" />
            {% csrf_token %}
            {{ form }}
            <tr>
              <td colspan="2">
                <input type="submit" name="submit" value="Post">
                <input type="submit" name="preview" value="Preview">
              </td>
            </tr>
          </form>
        </table>
    </div>
{% endblock content %}
