{% extends "base.html" %}
{% load account %}
{% load markup %}
{% load comments %}

{% block content %}
<h1 id="title">{{ item.title}}</h1>

<p id="summary">Suggested by <a href="/user/{{ item.created_by.username }}" id="creator"> {{ item.created_by.username }}</a> on <span id="created_on">{{ item.created_on|date:"D d M Y" }}</span>.</p>

<div id="description">
{{ item.description|markdown }}
</div>

<ul id="tags">
{% for tag in item.tags %}
    <li class="tag"><a href="/tag/{{ tag }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endblock content %}

<div class="comments">
    <h3>Comments and issues</h3>
    {% render_comment_list for item %}
</div>
