{% load url from future %}

<div class="row">
  <div class="span4">
    <img src="{%if showoff.idea.image%}{{idea.showoff.image}}{%else%}{{STATIC_URL}}img/sub2.jpg{%endif%}" class="" alt="NO IMAGE!" />
  </div>
  <div class="span4">
    <h2>{{showoff.idea.title}}</h2>
    <p>
      {{showoff.idea.summary}}
    </p>
    <p>
      Users Using this!
      {% for u in showoff.votes %}
        {{u.created_by}} |
      {% endfor %}
      <a class="btn btn-danger" href="/idea/{{showoff.idea.slug}}">See More</a>
    </p>
  </div>
</div>
