{% extends "base.html" %}
{% load account %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
<h1 style="font-size: 72px; line-height: 78px;">&ldquo;If you always do what
you always did, you will always get what you always got.&rdquo;</h1>
<h2>Albert Einstein</h2>
<hr/>
    </div>
</div>
<div class="row">
    <div class="span12">
<h3>NHSonar was built in 48 hours by...<h3>
<a href="http://twitter.com/drcjar"><img src="https://si0.twimg.com/profile_images/1308791386/00134_small_reasonably_small.jpg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/ghickman"><img src="https://si0.twimg.com/profile_images/1258522839/gravatar_reasonably_small.jpeg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/londonlime"><img src="https://si0.twimg.com/profile_images/2224516934/game2_reasonably_small.jpg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/ntoll"><img src="https://si0.twimg.com/profile_images/283774940/100_5406_2_reasonably_small.JPG" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/otfrom"><img src="https://si0.twimg.com/profile_images/1900800660/bld-summer-clj-3-sq_reasonably_small.jpg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/richardjpope"><img src="https://si0.twimg.com/profile_images/1409940458/grav_bigger_reasonably_small.jpg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/rossjones"><img src="https://si0.twimg.com/profile_images/2613658204/5j3lqxmuyt984tuxgmoi_reasonably_small.jpeg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/stephanemassey"><img src="https://si0.twimg.com/profile_images/1575297818/logo_reasonably_small.png" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/symrow"><img src="https://si0.twimg.com/profile_images/2386234934/tns6k105vg7uvp865k61_reasonably_small.jpeg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/terrycojones"><img src="https://si0.twimg.com/profile_images/2593202437/0n9uxw22rogswzvt8l39_reasonably_small.jpeg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/thatdavidmiller"><img src="https://si0.twimg.com/profile_images/431557250/profile_reasonably_small.jpg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
<a href="http://twitter.com/zarino"><img src="https://si0.twimg.com/profile_images/1770997410/IMG_3153_small_reasonably_small.jpg" class="img-rounded" style="max-width: 64px; margin:8px;"></a>
    </div>
</div>
<div class="row">
    <div class="span10 offset1">
<img src="{{ STATIC_URL }}img/laptop.jpg/" class="img-rounded"/>
</div>
</div>
{% endblock content %}
