{% load url from future %}
{% load innovative_tags %}
{% load i18n %}
{% load avatars %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{# {% url 'myhacks:home' as myhacks_url %} #}


<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <title>{% block title %}{% endblock %} | NHS Sonar</title>

    <script type="text/javascript">
      $(document).ready(function() {
      {% block jqready %}{% endblock %}
      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ home_url }}"><img src="{{STATIC_URL}}img/logowithtagline-trans.png" class="" alt="NHSonar" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% active request '' %}"><a href="{{home_url}}">Home</a></li>
              {% if request.user.is_staff %}
                <li class="pull-right"><a href="/admin">Admin</a></li>
              {% endif %}
              <li class="{% active request about_url %}"><a href="{{ about_url }}">Add idea</a></li>
              <li class="{% active request about_url %}"><a href="{{ about_url }}">About</a></li>
              <li class="{% active request contact_url %}"><a href="{{ contact_url }}">Contact</a></li>
              <li class="dropdown {% active request '/account/*' %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'account_email' %}">Profile</a></li>
                  <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  {% else %}
                  <li><a href="{% url 'account_login' %}">Log In</a></li>
                  <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                  {% endif %}
                </ul>
                  {% if user.is_authenticated %}
                  <!-- <img src='{% avatar request.user %}'> -->
                  {% endif %}
              </li>
              <li>
                <!-- <button class ="btn btn-primary" type="submit">{% trans "New"%}</button> -->
                <a href="/idea/new/">+ New</a>
              </li>
              <li>
                <form action="/search" class="navbar-form pull-left">
                  <input type="text" class="span2" name="term" placeholder="Search">
                </form>
              </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="page" class="container">

      <!-- alerts and messages -->
      <div class="row">
        <div class="span3"></div>
        <div class="span6">
         {% if messages %}
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
         {% endif %}
        </div>
      </div>

        <!-- Main content -->
        {% block content %}

        {% endblock %}
    </div>

        <!-- Footer -->
        <footer>
          <hr />
          <div class="container">


          <div class="row">

            <div class="span6">
              <ul class="nav nav-list">
                <li>
                  <a href="https://github.com/openhealthcare/innovations_r_us">The NHSonar source codes...</a>
                </li>
                <li>
                  <a href="http://nhshackday.com/">...were lovingly crafted on a NHS Hack Day...</a>
                </li>
                <li>
                  <a href="http://openhealthcare.org.uk">...organised by Open Healthcare...</a>
                </li>
              </ul>

            </div>
            <div class="span6">
              <h4>Recent Activity</h4>
              <ul class="nav nav-list">
                {% for item in recent %}
                  <li>
                    <a href="/idea/{{item.slug}}">{{item.title}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          </div>

          <p>&copy; NHS - the content on this website is licensed under a <a href="http://creativecommons.org/licenses/by/2.0/uk/">Creative Commons license</a></p>

          </div>

        </footer>

  </body>
</html>
