{% extends "base.html" %}
{% load account %}
{% load i18n %}
{% load avatars %}#

{% block content %}
{% include 'innovation/showoff.html' %}
<div class="row">
  <div class="span4">
    <ul>
    {% for item in recent %}
      <li>
        <a href="/idea/{{item.slug}}">
        {{item.title}}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="span4">
    {% for item in top %}
      <li>
        <a href="/idea/{{item.slug}}">
        {{item.title}}
        </a>
      </li>
    {% endfor %}
  </div>
</div>




<!-- <h1>Innovation, woo yea!</h1> -->

<!-- {% if request.user.is_authenticated %} -->
<!--     Welcome {% user_display request.user %} !!! -->

<!--     <img src='{% avatar request.user %}'> -->
<!-- {% endif %} -->


{% endblock content %}
