{% extends "myhacks_base.html" %}
{% load markup %}


{% block myhacks_content %}

{% filter markdown %}

My Hacks is a small space for you to post cool things you've done that make
your work easier.

This could be anything from redesigning a form to make it easier to fill out
all the way up to redesigning the way your department works. Anything you think
others might be interested in knowing about.


<a href="{% url myhacks:add %}" class="btn btn-primary">Add your hack{% if not request.user.is_authenticated %} (Login Required ){% endif %}</a>


{% endfilter %}

{% endblock myhacks_content %}